#toc {
    position: fixed;
    top: 150px;
    transform: translate(885px);
    @apply hidden text-sm xl:block;
    li {
        @apply my-1;
        span {
            @apply cursor-pointer opacity-40 transition-colors;
            &.active,
            &:hover {
                @apply font-bold opacity-70;
            }
        }
    }
}

@layer components {
    .article {
        @apply prose max-w-none text-inherit dark:prose-invert;
        @apply prose-p:leading-8 prose-img:mx-auto;
        @apply prose-a:font-normal prose-a:text-blue-600 prose-a:no-underline hover:prose-a:underline;
        @apply prose-code:text-inherit;
        @apply prose-hr:mx-auto prose-hr:w-80;
    }
}
